//
$white: #fff;
$off-white: #ebebeb;
$white-smoke: #f5f5f570;

//
$blue: #52aaff;
$dark-blue: #4b628c;

//
$error-red: #ff0000;

//
$cta-primary: #00edb1;
$cta-primary-font: #000000;

$cta-secondary: #072a86;
$cta-secondary-font: #f7f7f7;
