.middle-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;

  background-image: url("../assets/background-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.confirmation,
.verified,
.forgot-password {
  &__content {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    padding: 2rem 4rem;
    color: $white;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid $white-smoke;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px 0 #00000080, -4px -4px 8px 0 #ffffff60;
  }
}

.verified {
  &__content {
    a {
      color: $blue;
      text-decoration: none;
    }
  }
}

.forgot-password {
  &__content {
    margin: 0.5rem 0;
    form {
      gap: 1rem;
    }
  }
}
