.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;

  background-image: url("../assets/background-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .register {
    width: clamp(320px, 900px, 100%);
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    overflow: hidden;
    background-color: transparent;
    color: $white;
    // border: 2px solid $white-smoke;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px 0 #00000080, -4px -4px 8px 0 #ffffff60;

    h3 {
      font-size: $font-size-heading-3;
      margin-bottom: 1rem;
    }

    &__image,
    &__form {
      flex: 1;
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
    }

    // Image Section of Register
    &__image {
      .logo-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        // gap: 1rem;

        &__img {
          width: 100px;
          height: 100px;
          background-image: url("../assets/logo.png");
          background-size: 300%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      p {
        text-wrap: pretty;
        font-size: $font-size-medium;
      }

      // Title Loop Section
      h3 {
        color: $off-white;

        .loop {
          color: $white;
        }
      }

      // HR Image
      .hr-image {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        background-image: url("../assets/register-image.png");
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    // Form Section of Register
    &__form {
      align-items: center;
      justify-content: center;
      min-height: 600px;

      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .log-in {
        form {
          justify-content: center;

          h3 {
            text-align: center;
          }
        }
      }
    }
  }

  // Button section

  .button-controll {
    // margin-top: 2rem;
    p {
      color: $off-white;

      .form-switch {
        font-size: $font-size-medium;
        font-weight: 600;
        color: $blue;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  // Footer section of the register

  footer {
    padding: 1rem 0;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: clamp(320px, 90dvw, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .social-media {
      display: flex;
      gap: 1rem;

      .social-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat;
        transition: all 0.2s ease;

        &:hover {
          box-shadow: 4px 4px 6px #00000020, -4px -4px 6px #ffffff20;
          transform: scale(1.1);
        }

        &:nth-child(1) {
          background-image: url("../assets/bxl-discord-alt.svg");
        }
        &:nth-child(2) {
          background-image: url("../assets/bxl-linkedin.svg");
        }
        &:nth-child(3) {
          background-image: url("../assets/bxl-facebook-circle.svg");
        }
        &:nth-child(4) {
          background-image: url("../assets/bxl-github.svg");
        }
      }
    }
    p {
      color: $white;
      font-size: $font-size-small;
    }
  }
}

.log-in {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.forgot-password-section {
  text-align: center;
  justify-self: flex-end;
  font-size: $font-size-small;
  margin: 0.25rem;
  a {
    margin-left: 0.25rem;
    font-weight: 700;
    color: $blue;
    cursor: pointer;
  }
}

// Input group section

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  font-size: $font-size-medium;
  min-width: 300px;

  .error-msg {
    position: absolute;
    bottom: -20px;
    left: 18px;
    font-size: 1rem;
    color: $error-red;
  }

  .input-field {
    padding: 0.75rem 1rem;
    border: 2px solid $white-smoke;
    background-color: transparent;
    color: $white;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
  }

  .floating-label {
    position: absolute;
    top: 9px;
    left: 10px;
    color: $white-smoke;
    border-radius: 25px;
    background-color: transparent;
    padding: 2px 4px;
    pointer-events: none;
    transition: all 0.2s ease;
  }

  &:focus-within,
  &.has-text {
    .input-field {
      border: 2px solid $blue;
    }
    .floating-label {
      color: $white;
      top: -8px;
      left: 24px;
      font-size: 14px;
      background-color: $blue;
    }
  }
}

// Submit button section
.submit {
  // margin-top: auto;
  position: relative;
  color: $white;
  letter-spacing: 2px;
  font-size: $font-size-medium;
  font-weight: 600;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid $cta-primary;
  background-color: $cta-primary;

  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: inset 12px 12px 12px #00000033, inset -12px -12px 12px #ffffff33;
  }
}

// Form animations

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* Add animation classes */
.fade-enter {
  animation: fadeIn 0.5s forwards;
}

.fade-exit {
  animation: fadeOut 0.5s forwards;
}
