.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;

  background-image: url("../assets/background-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .register {
    width: clamp(320px, 840px, 100%);
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid $white-smoke;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px 0 #00000080, -2px -2px 8px 0 #ffffff60;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    h4 {
      min-width: 300px;
    }

    h3,
    h4,
    h6 {
      color: $white;
    }

    &__image,
    &__form {
      flex: 1;
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
    }

    &__image {
      .logo-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        // gap: 1rem;

        &__img {
          width: 100px;
          height: 100px;
          background-image: url("../assets/logo.png");
          background-size: 300%;
          background-position: center;
          background-repeat: no-repeat;
        }

        &__title {
          font-size: 2rem;
          font-style: italic;
          font-weight: 600;
          color: $white;
        }
      }
      .hr-image {
        width: 100%;
        height: 100%;
        margin-top: 4rem;
        background-image: url("../assets/register-image.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    // Form Section
    &__form {
      align-items: center;
      justify-content: center;
      min-height: 600px;

      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > * {
          font-size: inherit;
        }

        .input-group {
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 0.5rem 0;
          font-size: 1.25rem;
          min-width: 300px;

          .error-msg {
            position: absolute;
            bottom: -20px;
            left: 18px;
            font-size: 1rem;
            color: $error-red;
          }

          .input-field {
            padding: 0.75rem 1rem;
            border: 2px solid $white-smoke;
            background-color: transparent;
            color: $white;
            border-radius: 25px;
            outline: none;
            font-size: 16px;
          }

          .floating-label {
            position: absolute;
            top: 10px;
            left: 10px;
            color: $white-smoke;
            border-radius: 25px;
            background-color: transparent;
            padding: 2px 4px;
            pointer-events: none;
            transition: all 0.2s ease;
          }

          &:focus-within,
          &.has-text {
            .input-field {
              border: 2px solid $blue;
            }
            .floating-label {
              top: -8px;
              left: 24px;
              font-size: 14px;
              background-color: $blue;
              color: $white;
            }
          }
        }

        .submit {
          // margin-top: auto;
        }
      }
    }
  }
  // Submit button
  .submit,
  .form-switch-btn {
    // align-self: flex-end;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 25px;
    border: 2px solid $blue;
    background-color: $blue;
    color: $white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: inset 12px 12px 12px #00000033,
        inset -12px -12px 12px #ffffff33;
    }
  }

  // Button section

  .button-controll {
    // margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;

    .form-switch-btn {
      align-self: flex-start;
      // aditional styling
    }
    .form-switch {
      color: $blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.log-in {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
