.register {
  display: flex;
  gap: 2rem;
  // Form Section

  form {
    .input-group {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;
      font-size: 1.25rem;

      > * {
        font-size: inherit;
      }

      input {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid gray;

        &:focus {
          outline: none;
          border: 1px solid blue;
        }
      }
    }

    .submit {
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid gray;

      font-weight: 600;
      background-color: transparent;
      cursor: pointer;
    }
  }

  // Button section
  .button-controll {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;

    button {
      position: relative;
      padding: 0 0.5rem;
      font-size: 1.5rem;
      font-weight: 600;
      background-color: transparent;
      border-radius: 15px;
      border: none;
      cursor: pointer;

      &::after {
        background-color: gray;
      }
    }
    .active {
      &::after {
        background-color: blue;
      }
    }
    & button::after,
    & .active::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
      height: 5px;
      width: 60%;
    }
  }
}
