// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Layout
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// Variables

.main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

@import "./scss/colors";
@import "./scss/register";
