// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./scss/_font-size";
@import "./scss/_colors";
@import "./scss/_animations";
@import "./scss/_layout";
@import "./scss/_sidebar";
@import "./scss/_dashboard";
@import "./scss/_register";
@import "./scss/_confirmation";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  p {
    font-size: $font-size-base;
  }
}

// Variables

.main {
  height: 100dvh;
  flex-grow: 3;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

// Flexbox
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}
