// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./scss/font-size";
@import "./scss/colors";
@import "./scss/register";
@import "./scss/_confirmation";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  p {
    font-size: $font-size-base;
  }
}

// Layout
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// Variables

.main {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
